*{
  margin: 0;
  padding: 0;
}
html,body{
  height: 100%;
}

video{
  width: 100%;
  background-color: black;
}

.wtf{
  background-image: url('MissyWTF1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  background-color: yellow;
}
