*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  overflow-x: hidden;
}

video{
  background-color: black;
  position: relative;
  left: 50%;
  transform: translateX(-58%);
}

body div{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.wtf{
  background-image: url('MissyWTF1.jpg');
}

.footerbg{
  background-image: url('footerbg.png');
}
